#wrapper{
  width:960px;
  background-color:light grey;
  overflow:hidden;
  height:auto;

}
.content{
  width:320px;
  border-radius: 10px;
  background-color:grey;
  display:block;
}

.home{
  width:320px;
  background-color:grey;
  border-radius: 10px;
  display:inline-block;
  text-indent:25px;
}

.essay{
  width:320px;
  background-color:grey;
  
  border-radius: 10px;
  display:inline-block;
}

#contact{
  width:960px;
  background-color:grey;
  border-radius: 3px;
  height:auto;
}

a {
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

p {
  text-indent:30px;
}

a:link    {color:#000000; background-color:transparent}
a:visited {color:#000000; background-color:transparent}
a:hover   {color:#ff0000; background-color:transparent}
a:active  {color:#ff0000; background-color:transparent}